<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script type="text/javascript">                                                                                  (function () { var c = document.createElement('link'); c.type = 'text/css'; c.rel = 'stylesheet'; c.href = 'http://images.dmca.com/badges/dmca.css?ID=870b9f25-f427-421e-8eb6-0583f1b2c517'; var h = document.getElementsByTagName("head")[0]; h.appendChild(c); })();</script><div id="DMCA-badge"><div class="dm-1 dm-1-b" style="left: 0px; border-color: rgb(0, 0, 0); background-color: rgb(37, 70, 168);"><a href="http://www.dmca.com/" title="DMCA" style="color: rgb(255, 255, 255);">DMCA</a></div><div class="dm-2 dm-2-b" style="border-color: rgb(0, 0, 0); background-color: rgb(103, 143, 46);"><a href="http://www.dmca.com/Protection/Status.aspx?ID=870b9f25-f427-421e-8eb6-0583f1b2c517" title="DMCA" style="color: rgb(255, 255, 255);">PROTECTED</a></div></div>
    
    
  </body>
</html>
